<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yhb.dc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION " />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.DcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".demo.launch_mode.ClearTaskDemo" />
        <activity android:name=".demo.customview.custom_view.CustomViewDisplayActivity" />
        <activity android:name=".demo.anim.AnimationActivity" />
        <activity android:name=".demo.customview.custom_view.debug.DebugActivity" />
        <activity android:name=".demo.customview.custom_view.carousel.CarouselActivity" />
        <activity android:name=".common.DemoBaseActivity" />
        <activity
            android:name=".demo.activity.TranslucentActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="www.haibiao.com" />
                <data android:scheme="https" android:host="www.haibiao2333.com"/>
            </intent-filter>
        </activity>
        <activity android:name=".demo.launch_mode.LaunchModeMainActivity" />
        <activity
            android:name=".demo.launch_mode.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".demo.launch_mode.LaunchModeMainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="yhb.dc.SINGLEINSTANCE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.launch_mode.SingleTaskActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".demo.launch_mode.LaunchModeMainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="yhb.dc.SINGLETASK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.launch_mode.StandardActivity"
            android:launchMode="standard"
            android:parentActivityName=".demo.launch_mode.LaunchModeMainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="yhb.dc.STANDARD" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.launch_mode.SingleTopBaseActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".demo.launch_mode.LaunchModeMainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="yhb.dc.SINGLETOP" />
            </intent-filter>
        </activity> <!-- demo of custom views -->
        <activity android:name=".demo.customview.custom_view.CustomViewMainActivity" /> <!-- demo of animation -->
        <activity android:name=".demo.recyclerview.RecyclerViewActivity" /> <!-- demo od animated vector drawable -->
        <activity android:name=".demo.customview.click_effect.CommonButtonClickEffectActivity" />
        <activity android:name=".demo.customview.canvas.CanvasActivity" />
        <activity android:name=".demo.api.HandlerThreadActivity" />
        <activity android:name=".demo.fragment.fragment_nest.TabFragmentActivity" />
        <activity android:name=".demo.fragment.fragment_commit.FragmentCommitActivity" />
        <activity android:name=".demo.aidl.ServiceHolderActivity" />

        <service
            android:name=".demo.aidl.mannu.RemoteBookService"
            android:process=":bookService" />
        <service
            android:name=".demo.aidl.auto.RemoteMusicService"
            android:process=":musicService" />

        <activity android:name=".demo.customview.view_properties.ViewFieldsActivity" />
        <activity android:name=".demo.fragment.fragment_callback.FragmentCallbackActivity" />
        <activity android:name=".demo.fragment.fragment_dialog.DialogFragmentActivity" />
        <activity android:name=".demo.notification.NotificationActivity" />

        <receiver android:name=".demo.notification.EchoBroadcastReceiver" />

        <activity
            android:name=".demo.network.fresco.FrescoActivity"
            android:label="@string/title_activity_fresco"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".demo.network.webview.WebViewActivity" />
        <activity android:name=".demo.network.webview.WebViewMainActivity" />
        <activity android:name=".demo.window.WindowActivity" />
        <activity
            android:name=".demo.launch_mode.ExitClearTaskActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>